// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap");

// Variables
$navy: #0d1b48;
$white: #fff;
$red: #c33c54;
$lt-blue: #e9ecef;

// Default font-family
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
a {
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
